<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net40" />
  <package id="Microsoft.Web.Administration" version="7.0.0.0" targetFramework="net40" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net40" />
  <package id="UDE.CSharp" version="1.0.0" targetFramework="net40" />
</packages>