<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="GitAspxConfig" type="GitAspx.Config.GitAspxConfig, GitAspx" />
  </configSections>
  <appSettings>
    <!--add key="Bin" value="D:\GitKendar\GitDotAspx\Repositories" /-->
    <add key="ReceivePack" value="true" />
    <add key="UploadPack" value="true" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
  </appSettings>
  <GitAspxConfig 
    RepositoriesDirectory="D:\GitKendar\GitDotAspx\Repositories"
    Admin="main"
    ReceivePack="true" UploadPack="true">
    <Users>
      <User UserId="main" Password="main"/>
      <User UserId="Anonymous" Password="Anonymous"/>
      <User UserId="test" Password="test"/>
    </Users>
    <Repositories>
      <Repository
        RepoId="Primo.git"
        Read="*"
        Write="admin;test"/>
      <Repository
        RepoId="Secondo.git"
        Read="admin"
        Write="admin"/>
    </Repositories>
  </GitAspxConfig>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime executionTimeout="10000" maxRequestLength="1048576" />
    <authentication mode="None">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <machineKey validationKey="739540C50B9E9181779685B4C73501434B8CAA400C9F4CAED9ABA51E6F3DA6E86C19A2B817D60B2C3C435477D170689D7FBD0E6D847725F248CB52011A673FCF" decryptionKey="1C1B5739A376180521D3FA46AA3550499B578F293B42C87153010C976E845294" validation="SHA1" decryption="AES" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>